body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: lighter;
    /* clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%); */
}

.header ul {
    padding-right: 250px;
}

header {
    width: 100%;
    height: 100px;
    /* background: url(https://wallpaperaccess.com/full/480568.jpg) no-repeat 50% 50%; */
    background-size: cover;
}

.logo img {
    padding-right: 200px;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 6px 46px;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    background-color: black;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 10px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    display: inline-block;
    padding: 15px 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.parallelogram:hover {
    transition: width 5s;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background: #f4511e;
}

.parallelogram {
    width: 100px;
    height: 80px;
    padding: 10px;
    border-radius: 20px;
    transform: scaleY(1);
    text-decoration: none;
    position: relative;
    color: white;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.btn {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.btn:hover {
    opacity: 1
}

@media(max-width: 786px) {
    .logo {
        position: fixed;
        top: 0;
        margin-top: 6px;
    }
    nav ul {
        max-height: 0px;
        background: #000;
    }
    nav.black ul {
        background: #000;
    }
    .showing {
        max-height: 34em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }
}

.full-page {
    height: 640px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-image: linear-gradient(to right, rgba(245, 100, 17, 0.575), rgba(23, 132, 233, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
}

#login-form {
    display: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    /* float: right; */
    padding-left: 580px;
    background: rgba(252, 252, 252, 0.3);
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    color: rgb(8, 8, 8);
    background-color: white;
    border-radius: 3px;
    padding: 1px;
    box-sizing: border-box;
    box-shadow: 2px 5px 8px 3px #9e6565;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #f4511e;
    border-radius: 30px;
    transition: .5s;
    opacity: 0.6;
}

.input-group-login {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group-register {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    color: black;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #f4511e;
    border: 0;
    outline: none;
    border-radius: 3px;
}

.check-box {
    margin: 30px 10px 34px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#login input {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 15;
}

#register {
    left: 450px;
}

#register input {
    color: white;
    font-size: 15;
}